:root {
  --colorText: #ffffff !important;
  --colorBorderActive: #ffffff41 !important;
  --colorGradientHint: rgba(30, 83, 196, 0.858) !important; /* blue background */
  --colorGradientHintRev: rgba(228, 219, 219, 0.288) !important; /* soft light */
  --glassHighlight: rgba(255, 255, 255, 0.08) !important;
  --glassBorder: rgba(32, 69, 128, 0.39) !important;
  --glassShadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  --sliderBg1: rgba(124, 199, 253, 0.8)!important;
  --sliderBg2: rgba(124, 199, 253, 0.8) !important;
  --sliderBorderGlass: rgba(255, 255, 255, 0.15) !important;
  --sliderThumbGradientStart: rgb(255, 255, 255) !important;
  --sliderThumbGradientEnd: rgb(255, 255, 255) !important;
  --sliderThumbBorder: rgba(255, 255, 255, 0.3) !important;
  --sliderThumbHoverBorder: rgba(255, 255, 255, 0.5) !important;
  --buttonGlassBase: rgba(255, 255, 255, 0.1) !important;
  --buttonGlassHover: rgba(255, 255, 255, 0.5) !important;
  --buttonGlassActive: rgba(255, 255, 255, 0.418) !important;
  --riskGlass: rgba(255, 255, 255, 0.288) !important;
  --numberActiveShadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  --numberShadow: rgba(0, 0, 0, 0.1) !important;
  --sliderShadowInset: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  --sliderHighlight: rgba(255, 255, 255, 0.05) !important;
  --sliderThumbShadow: rgba(0, 0, 0, 0.15) !important;
  --sliderThumbHoverShadow: rgba(0, 0, 0, 0.2) !important;
  --sliderContainerGlass: rgba(255, 255, 255, 0.15) !important;
  --hintShadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  --globalBlur: 10.7px !important;
  --ani1: #4da6ff !important; 
  --ani2: #3385ff !important; 
  /* --ani3: rgb(30, 83, 196) !important;  */
  --ani3: rgb(30, 121, 200) !important; 
  --ani4: #66e0ff !important; 
  --riskColor: rgb(30, 83, 196) !important;
  /* --colorHint: rgba(30, 121, 200, 0.853) !important; */
  --colorHint: rgba(30, 83, 196, 0.805) !important;

  --dots: rgb(255, 255, 255) !important;
    --dotsActive: #3385ff  !important;
}
